<!-- =========================================================
            FOOTER 
=========================================================== -->
<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-2">Explore Vedikas</h4>
                <ul class="m-0 p-0">
                    <li><a href="#">List your property</a></li>
                    <li><a href="">Book with Confidence</a></li>
                    <li><a href="">Trust & Safety</a></li>
                    <li><a href="">Discovery Hub</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Vacation rental guides</a></li>
                </ul>
            </div>
<!-- =========================================================
            CONTACT US 
=========================================================== -->
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p class="fa fa-map-marker"> Function Halls</p>
                <p class="fa fa-phone"> (040) 1234 5678</p>
                <p class="fa fa-envelope-o"> vedikas@gmail.com</p>
            </div>
<!-- =========================================================
            FOOTER GLYPHICONS
=========================================================== -->
            <!-- <div class="col-lg-5 col-xs-12">
                <h4>Vedikas</h4>
                <p class="pr-5 text-darkblack-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores recusandae eveniet necessitatibus dolore neque! Recusandae.</p>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div> -->
        </div>
<!-- =========================================================
            FOOTER COPYRIGHT INFO
 =========================================================== -->
        <div class="row mt-5">
            <div class="col copyrights">
                <p><small class="text-black-50">
                    © 2020 Vedikas, a functionhalls. All rights reserved.
                    Terms and Conditions · Privacy Policy · Do Not Sell My Personal Information
                </small></p>
            </div>
        </div>
    </div>
</div>
   
      

   