

<body style="background-color: rgb(248, 249, 250);">
    <div class="card mb-3" style="max-width: 1920px;">
        <div class="container">
            <p>Progress</p>
            <div class="progress" style="height: 10px;">
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <hr>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <h4 class="text-center pt-5">Welcome</h4>
                    <li><a href="../location/">Location</a></li>
                    <li><a href="../details/">Details</a></li>
                    <li><a href="../photos/">Photos</a></li>
                    <li><a href="../security/">Security</a></li>
                    <li><a href="../payment/">Payment</a></li>
                    <li><a href="../publishlisting/">Publish listing</a></li>
                </div>
                <div class="col-md-8" style="width: 550px;">
                    <div class="data" style="height: auto;padding:40px ;">
                        <h2>Where is your functionHall located</h2>
                        <p>Your address is only shared with guests who have booked your functionhall</p>
                        <hr>

                        <form [formGroup]="LocationForm" (ngSubmit)="onclick()">
                            <div class="form-row">
                                <div class="form-group ">
                                    <label for="inputState"></label>
                                    <select id="inputState" class="form-control" formControlName="Country"
                                        placeholder="Country" name="Country">
                                        <!-- <option valu>Country</option> -->
                                        <option value="India">India</option>
                                        <!-- <option>Pakisthan</option>
                                    <option>Brazil</option>
                                    <option>United States</option>
                                    <option>China</option> -->
                                    </select>
                                </div>

                                <div class="form-group ">
                                    <label for="Streetaddress"></label>

                                    <input type="text" name="streetaddress" class="form-control"
                                        formControlName="Streetaddress" placeholder="Street address"
                                        [ngClass]="{'is-invalid':LocationForm.get('Streetaddress').touched && LocationForm.get('Streetaddress').invalid}" />
                                    <div *ngIf="LocationForm.get('Streetaddress').touched && LocationForm.get('Streetaddress').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="LocationForm.get('Streetaddress').errors.required">Streetaddress
                                            Name is
                                            required</div>
                                        <div *ngIf="LocationForm.get('Streetaddress').errors.Streetaddress">
                                            Streetaddress
                                            must be a
                                            valid Streetaddress</div>
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <label for="Unitnumber"></label>
                                    <input type="number" name="unitnumber" class="form-control"
                                        formControlName="Unitnumber" placeholder="Unit number (optional)">
                                </div>

                                <div class="form-group "><label for="State"></label>
                                    <input type="text" name="state" class="form-control" formControlName="State"
                                        placeholder="State"
                                        [ngClass]="{'is-invalid':LocationForm.get('State').touched && LocationForm.get('State').invalid}" />
                                    <div *ngIf="LocationForm.get('State').touched && LocationForm.get('State').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="LocationForm.get('State').errors.required">State Name is required
                                        </div>
                                        <div *ngIf="LocationForm.get('State').errors.State">State must be a valid State
                                            Address
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group "><label for="City"></label>
                                    <input type="text" name="city" class="form-control" formControlName="City"
                                        placeholder="City"
                                        [ngClass]="{'is-invalid':LocationForm.get('City').touched && LocationForm.get('City').invalid}" />
                                    <div *ngIf="LocationForm.get('City').touched && LocationForm.get('City').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="LocationForm.get('City').errors.required">City Name is required
                                        </div>
                                        <div *ngIf="LocationForm.get('City').errors.City">City must be a valid City
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group "><label for="Postalcode"></label>
                                    <input type="text" name="postalcode" class="form-control"
                                        formControlName="Postalcode" placeholder="Postal Code"
                                        pattern="^[0-9]{6}(?:-[0-9]{4})?$" required
                                        [ngClass]="{'is-invalid':LocationForm.get('Postalcode').touched && LocationForm.get('Postalcode').invalid}" />
                                    <div *ngIf="LocationForm.get('Postalcode').touched && LocationForm.get('Postalcode').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="LocationForm.get('Postalcode').errors.required">Postalcode Name is
                                            required
                                        </div>
                                        <div *ngIf="LocationForm.get('Postalcode').errors.Postalcode">Postalcode must be
                                            a
                                            valid
                                            Postalcode
                                        </div>

                                    </div>
                                </div>



                                <!-- <div class="form-group col-md-10">
                                <input type="text" class="form-control" id="Street address"
                                    placeholder="Street address">
                            </div> -->
                                <!-- <div class="form-group col-md-10">
                                <input type="text" class="form-control" id="Unit number (optional)"
                                    placeholder="Unit number (optional)">
                            </div>
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" id="City" placeholder="City">
                            </div>
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" id="State" placeholder="State">
                            </div>
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" id="Postalcode" placeholder="Postal Code">
                            </div> -->
                            </div>
                            <span><button type="button" class="btn btn-outline backbutton"
                                    (click)="back()">Back</button>
                                <button type="button" style="margin-left: 190px; border-radius: 30px;"
                                    class="btn btn-primary " [disabled]="LocationForm.invalid" (click)="onclick()">Save
                                    and
                                    continue</button></span>




                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



