<!-- <img alt="vedikas logo" class="site-header-logo__img Header-BG img-responsive" itemprop="logo"
  src="../../assets/Images/ProjectName.png" href="#" alt="Vedikas" width="160px" height="100px" title="Vedikas">

<article class="card-body mx-auto" style="max-width: 400px;">
  <p class="Owner"></p> -->
  <!-- <p>
       <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   signup via Twitter</a> -->
  <!-- <a href="http://localhost:8080" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   signin via google</a> -->
  <!-- </p> -->
  <!-- <p class="divider-text">
      <span class="bg-light">OR</span>
  </p> -->

  <!-- <div class="card card-primary" >
    <p  style="margin-left: 70px;">Log in or sign up on Vedikas</p>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
      <div class="EmailField" >
        <div class="form-group floating-label not-empty">
          <label class="" for="lex-emailAddress"  > Email address</label>
        <input class="form-control" aria-invalid="false" aria-label="Email address" placeholder="Email address"
          id="lex-emailAddress" name="emailAddress" type="email" autocomplete="on" value="">
        </div>
      </div>
      <div class="PasswordField">
        <div class="form-group floating-label not-empty has-feedback">
          <label class="" for="password" style="margin-top: 20px;">Password</label>

          <input class="form-control password-form form-control" aria-invalid="false" aria-label="Password"
            placeholder="Password" id="password" name="password" lingua="[object Module]" type="password"
            autocomplete="on" value="">
          <span class="form-control-feedback is-clickable">

            <span>

            </span>
          </span>
        </div>
        <span>
          <button class="btn btn-primary " id="login" name="login" type="submit" label="Log in"
            style="margin-left:50px; margin-top: 30px;width: 100px; " >
            <span class="btn__label">Log in</span>
          </button>

          <button class="btn btn-primary " id="register" name="register" type="register" label="register"
            style="margin-left:20px; margin-top: 30px;width: 100px;">
            <span class="btn__label" (click)="register()">Register</span>
          </button>
        </span>

        <p class="divider-text">
          <span class="bg-light">OR</span>
        </p>
        <p class="text-center"> continue with google </p>

        <div class="GoogleSocialIcon" style="margin-left:140px ;"> -->
          <!-- <button class="btn btn-icon ButtonIcon btn-default btn btn-default Googlesocial btn-icon-circle btn-block"
            type="button" name="googleSocial" id="googleSocial" label="" aria-label="GooogleIcon" aria-hidden="true"> -->
            <!-- <span class="btn__label sr-only"></span>
            <span class="SVGIcon SVGIcon--24px SVGIcon--inline-flex">
              <svg data-id="SVG_GOOGLE_COLOR__24" width="24" height="24" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M21.86 12.23c0-.71-.07-1.4-.19-2.05h-9.54v3.87h5.45a4.6 4.6 0 0 1-2.02 3.02v2.5h3.28a9.69 9.69 0 0 0 3.02-7.34z"
                    stroke="none" fill="#4688F1"></path>
                  <path
                    d="M12.13 22c2.74 0 5.03-.9 6.7-2.42l-3.27-2.51c-.9.6-2.07.95-3.43.95a6.03 6.03 0 0 1-5.67-4.12H3.08v2.6c1.66 3.26 5.1 5.5 9.05 5.5z"
                    stroke="none" fill="#3AA757"></path>
                  <path d="M6.46 13.9a5.94 5.94 0 0 1 0-3.8V7.5H3.08a9.89 9.89 0 0 0 0 9l3.38-2.6z" stroke="none"
                    fill="#F9BB2D"></path>
                  <path
                    d="M12.13 5.98c1.49 0 2.82.5 3.87 1.5l2.91-2.88A9.8 9.8 0 0 0 12.13 2C8.17 2 4.74 4.24 3.08 7.5l3.38 2.6a6.03 6.03 0 0 1 5.67-4.12z"
                    stroke="none" fill="#E7453C">

                  </path>
                </g>
              </svg></span> -->
            <!-- </button> -->
          <!-- <div class="Googlelabel">
            <label for="googleSocial" class="Googletext" style="margin-left: 110px;"></label>
          </div>
        </div>


        <div class="">
          <div class=""> -->
            <!-- <label
                  class="CRB__label text-muted"><span
                    class="CRB__toggle"></span><span class="label-text"></span></label>-->
          <!-- </div>
        </div> -->
      <!-- </div> form-group// -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="site-header-logo">
    <a class="site-header-logo__link flex-item" href="#" itemprop="url" title="vedikas">
     <!-- ========================================================= 
                    HEADER  LOGO 
    ===========================================================-->
  <img alt="vedikas logo" class="site-header-logo__img Header-BG img-responsive" itemprop="logo"
      src="../../assets/Images/ProjectName.png" alt="Vedikas" width="150px" height="100px" title="Vedikas"></a></div>
  <div class="site-header__flex-spacer"></div>
  <div class="RegularContent RegularContent--gradient RegularContent--minheight">
    <div>
      <div class="OwnerLoginPageComponent border-border-color">
        <div class="HeaderSection" style="    padding: 80px 24px 150px;">
          <div>
            <p class="Owner">Welcome</p>
            <p class="subheader">Log in or signup on Vedikas </p>
          </div>
        </div>
        <div class="CalloutCardComponent box-shadow--nav">
          <div class="LogInComponent text-center">
            <form novalidate="">
              <div class="EmailField">
                <div class="form-group floating-label not-empty"><input class="form-control" aria-invalid="false"
                    aria-label="Email address" placeholder="Email address" id="lex-emailAddress" name="emailAddress"
                    type="email" autocomplete="on" value=""><label class=""
                    for="lex-emailAddress">Email address</label></div>
              </div>
              <div class="PasswordField">
                <div class="form-group floating-label not-empty has-feedback"><input
                    class="form-control password-form form-control" aria-invalid="false" aria-label="Password"
                    placeholder="Password" id="password" name="password" lingua="[object Module]" type="password"
                    autocomplete="on" value=""><label class="" for="password">Password</label><span
                    class="form-control-feedback is-clickable"><span></span></span></div>
                <!-- <div class="">
                  <div class=""> 
   <label
                      class="CRB__label text-muted"><span
                        class="CRB__toggle">Remember</span><span class="label-text"></span></label>
  </div> 
                </div>  -->
  <button class="btn btn-primary btn-lg" id="login" name="login" type="submit" label="Log in"><span
                    class="btn__label">Log in</span></button>
                    <button class="btn btn-primary btn-lg" id="register" name="register" type="register" label="register" >
                      <span class="btn__label" (click)="register()">Register</span>
                    </button>
              </div>
            
  
  
  
            </form><button class="btn btn-link Link" label="forget password" type="button"><span class="btn__label">
                forgot  password</span>
              </button>
              <br/>
              <p>or continue with google </p>
              
                  <div class="GoogleSocialIcon" style="margin-left:150px ;">
                    <button class="btn btn-icon ButtonIcon btn-default btn btn-default Googlesocial btn-icon-circle btn-block" type="button" name="googleSocial" id="googleSocial" label="" aria-label="GooogleIcon" aria-hidden="true">
                  <span class="btn__label sr-only"></span>
                  <span class="SVGIcon SVGIcon--24px SVGIcon--inline-flex">
                    <svg data-id="SVG_GOOGLE_COLOR__24" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd">
                        <path d="M21.86 12.23c0-.71-.07-1.4-.19-2.05h-9.54v3.87h5.45a4.6 4.6 0 0 1-2.02 3.02v2.5h3.28a9.69 9.69 0 0 0 3.02-7.34z" stroke="none" fill="#4688F1"></path>
                        <path d="M12.13 22c2.74 0 5.03-.9 6.7-2.42l-3.27-2.51c-.9.6-2.07.95-3.43.95a6.03 6.03 0 0 1-5.67-4.12H3.08v2.6c1.66 3.26 5.1 5.5 9.05 5.5z" stroke="none" fill="#3AA757"></path>
                        <path d="M6.46 13.9a5.94 5.94 0 0 1 0-3.8V7.5H3.08a9.89 9.89 0 0 0 0 9l3.38-2.6z" stroke="none" fill="#F9BB2D"></path>
                        <path d="M12.13 5.98c1.49 0 2.82.5 3.87 1.5l2.91-2.88A9.8 9.8 0 0 0 12.13 2C8.17 2 4.74 4.24 3.08 7.5l3.38 2.6a6.03 6.03 0 0 1 5.67-4.12z" stroke="none" fill="#E7453C">
  
                        </path></g></svg></span></button>
                        <div class="Googlelabel">
                          <label for="googleSocial" class="Googletext" style="margin-right: 150px;">Google</label>
                        </div>
                      </div>
                    </div>
            <div>
  