<!--<article class="card-body " style="max-width: 600px;" >-->
  <html>



    <body>
    
    
      
        <div class="modal-body">
    <img alt="vedikas logo" class="site-header-logo__img Header-BG img-responsive" itemprop="logo"
    src="../../assets/Images/ProjectName.png" href="#" alt="Vedikas" width="160px" height="100px" title="Vedikas">
    
          <form style="margin-left: 500px;">
            <div class="form-group">
              <label> UserName </label>
              <input type="text" name="" placeholder="Username" class="form-control" style="max-width: 500px;">
            </div>
    
            <div class="form-group">
              <label> Email </label>
              <input type="text" name="" placeholder="Email" class="form-control"style="max-width: 500px;">
            </div>
    
            <div class="form-group">
              <label> Password </label>
              <input type="text" name="" placeholder="Password" class="form-control" style="max-width: 500px;">
            </div>
    
            <div class="form-group">
              <label> Repeat Password </label>
              <input type="text" name="" placeholder="Repeat Password" class="form-control" style="max-width: 500px;">
            </div>
            <button class="btn btn-primary" data-dismiss="modal"> Register </button>
          </form>
    
         
    
        </div>
     
    </body>
    
    </html>